<div x-data="logs" x-init="autoAnimate($el)" class="fixed z-10 right-4 top-4 flex flex-col gap-4 w-64 h-full pointer-events-none">
  <template x-for="(flag, log) in logs" hidden>
    <div class="pointer-events-auto rounded-lg overflow-hidden bg-white ring-[0.5px] ring-gray-300 shadow-lg dark:bg-zinc-900 dark:text-zinc-300 dark:ring-zinc-700">
      <div class="p-2.5 py-1.5 group flex items-center justify-center relative text-xs font-medium">
        <button @click="closeLog(log)" class="absolute left-2 top-2 w-3 h-3 flex items-center justify-center cursor-default rounded-full group">
          <svg class="text-red-500 absolute" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>
          <svg class="text-red-900 absolute opacity-0 transition group-hover:opacity-100 group-focus:opacity-100" xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </button>
        <span x-text="log"/>
      </div>
      <ul x-data="{}" x-init="new SimpleBar($el)" class="overflow-auto h-28 px-2">
        <template x-for="record in data[log]" hidden>
          <li class="flex flex-col gap-2 p-2 px-2.5 -mx-2">
            <div class="select-none pointer-events-none flex gap-1 items-center p-2.5 py-0.5 rounded-r-full bg-gray-100 text-gray-400 -ml-2.5 dark:bg-zinc-800/80 dark:text-zinc-400/70">
              <span x-text="timeFormatter.format(record.date)"></span>/
              <span x-text="record.diff"></span>
            </div>
            <div x-text="record.content" class="font-mono whitespace-pre text-[12px] px-1"></div>
          </li>
        </template>
      </ul>
    </div>
  </template>
</div>