<div>
  <button @click="openLog('intray-tauri-dev')" class="flex items-center gap-1.5 py-0.5 px-2 rounded hover:bg-blue-500 hover:text-white group w-full text-left cursor-default ring-offset-0" type="button">
    <svg class="text-green-500" :class="{
      'text-green-500': isRunning(),
      'text-yellow-500': !isRunning() && !isStopped(),
      'text-white': isStopped(),
    }" xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>
    intray-tauri-dev
  </button>
  <button @click="openLog('watchmylogs-css')" class="flex items-center gap-1.5 py-0.5 px-2 rounded hover:bg-blue-500 hover:text-white group w-full text-left cursor-default ring-offset-0" type="button">
    <svg class="text-green-500" :class="{
      'text-green-500': isRunning(),
      'text-yellow-500': !isRunning() && !isStopped(),
      'text-white': isStopped(),
    }" xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>
    watchmylogs-css
  </button>
  <button @click="openLog('watchmylogs-electronmon')" class="flex items-center gap-1.5 py-0.5 px-2 rounded hover:bg-blue-500 hover:text-white group w-full text-left cursor-default ring-offset-0" type="button">
    <svg class="text-green-500" :class="{
      'text-green-500': isRunning(),
      'text-yellow-500': !isRunning() && !isStopped(),
      'text-white': isStopped(),
    }" xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>
    watchmylogs-electronmon
  </button>
  <button @click="openManageApps" class="flex items-center gap-1.5 py-0.5 px-2 rounded hover:bg-blue-500 hover:text-white group w-full text-left cursor-default ring-offset-0" type="button">
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
    Manage apps
  </button>
</div>

<hr class="mx-2 border-gray-400/30">

<div>
  <button @click="restart" class="flex items-center gap-1.5 py-0.5 px-2 rounded hover:bg-blue-500 hover:text-white group w-full text-left cursor-default ring-offset-0" type="button">
    <div class="relative flex items-center justify-center w-[13px] h-[13px] group-hover:invert">
      <svg class="absolute text-black" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>
      <svg class="absolute -rotate-45" xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rotate-cw"><polyline points="23 4 23 10 17 10"></polyline><path d="M20.49 15a9 9 0 1 1-2.12-9.36L23 10"></path></svg>
    </div>
    Restart all services
  </button>
  <button @click="stop" x-show="!isStopped()" class="flex items-center gap-1.5 py-0.5 px-2 rounded hover:bg-blue-500 hover:text-white group w-full text-left cursor-default ring-offset-0" type="button">
    <svg class="group-hover:invert group-hover:text-black" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 24 24" fill="black" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15" stroke="white"></line><line x1="9" y1="9" x2="15" y2="15" stroke="white"></line></svg>
    Stop all services
  </button>
  <button @click="start" x-show="isStopped()" x-cloak class="flex items-center gap-1.5 py-0.5 px-2 rounded hover:bg-blue-500 hover:text-white group w-full text-left cursor-default ring-offset-0" type="button">
    <div class="relative flex items-center justify-center w-[13px] h-[13px] group-hover:invert">
      <svg class="absolute text-black" xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg>
      <svg class="absolute" xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
    </div>
    Start all services
  </button>
</div>

<hr class="mx-2 border-gray-400/30">

<div>
  <button class="flex items-center gap-1.5 py-0.5 px-2 rounded hover:bg-blue-500 hover:text-white pointer-events-none text-gray-400/80 w-full text-left cursor-default" disabled type="button">
    Version 0.5.0
  </button>
  <button @click="openSettings" class="flex items-center gap-1.5 py-0.5 px-2 rounded hover:bg-blue-500 hover:text-white w-full text-left cursor-default ring-offset-0" type="button">Settings...</button>
</div>

<hr class="mx-2 border-gray-400/30">

<div>
  <button @click="turnOff" class="flex items-center gap-1.5 py-0.5 px-2 rounded hover:bg-blue-500 hover:text-white w-full text-left cursor-default ring-offset-0" type="button">
    Quit
  </button>
</div>
